{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h4>Category</h4>
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>
                    <p>{{ category.slug }}</p>
                </td>
            </tr>
            <tr>
                <th>Articles</th>
                <td>
                    {% for article in category.articles %}
                    <p>
                        <a href="{{ path('app_category_article_show', {'category': category.slug, 'slug': article.slug}) }}" title="{{ article.title }}">
                            {{ article.title }}
                        </a>
                    </p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
